body {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

button {
    font-family: 'Times New Roman', Times, serif;
    width: 350px;
    height: 90px;
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(27, 27, 65);
    color: white;
    cursor: pointer;
}